#why > p {

	color:#ff3421;
}

#why > h1 {

	color:#ffdddd;
}

#what > h1 {

	color:#ffff00;	
}

#what > p {

	color:#FF4000;
}

#how > h1 {

	color:#ffff00;	
}

#head > h1 {

	color:#ffff00;
}

#how > b {

	color:#FF4000;
}

#idea > img {

	width:35%
	
}

#pet > h3 {

	color:#ffff00;
}


#draft > h2 {

	color:#ffff00;
}

#market > h2 {

	color:#ffff00;
}

#leader > h2 {

	color:#ffff00;
}
